<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        img{
            height: 200px;
            width: auto;
        }
    </style>
</head>
<body>
    <h1>Boop</h1>
    <form method="POST">
        <label for="name">
            Enter your name</label>
        <input type="text" name="name" placeholder="What is your name? ">
        <br>
        <input type="submit" value="Submit">
    </form>
    <img src="https://gifdb.com/images/high/speedy-spinning-gray-fish-umqmj8y1qgpfh5d7.gif/" alt="FISHY!!"height="100px"/>
</body>
</html>